# Updated by trungquandev.com's author on August 17 2023
# YouTube: https://youtube.com/@trungquandev
# "A bit of fragrance clings to the hand that gives flowers!"

MONGODB_URI=''
DATABASE_NAME=''
APP_HOST=''
APP_PORT=

AUTHOR=''

WEBSITE_DOMAIN_DEVELOPMENT = 'http://localhost:5173'
WEBSITE_DOMAIN_PRODUCTION = 'https://xuantridev.com'

BREVO_API_KEY=''
ADMIN_EMAIL_ADDRESS=''
ADMIN_EMAIL_NAME='Admin XuanTriDev'

ACCESS_TOKEN_SECRET_SIGNATURE=''
ACCESS_TOKEN_LIFE=''

REFRESH_TOKEN_SECRET_SIGNATURE=''
REFRESH_TOKEN_LIFE=''